[submodule "zygisk/src/main/external/libcxx"]
	path = zygisk/src/main/external/libcxx
	url = https://github.com/topjohnwu/libcxx
[submodule "module/util-linux"]
	path = module/util-linux
	url = git@github.com:brokestar233/util-linux.git
